/***** GENERAL STYLING *****/
html {
    background-color: black;
    scroll-behavior: smooth;
  }

/* Body */
body {
    margin: 0% ; 
    opacity: 1;
    transition: 1.5s opacity;
}



body.fade-out {
    opacity: 0;
    transition: none;
  }

.main {
    padding-top: 1.9%; 
    padding-bottom: 1.9%;
    
    background-image: linear-gradient(to right, black, #373775, black ); 
    
}

h1 {
    text-transform: uppercase; 
    font-family: "Trebuchet MS", Optima; 
    text-align: center; 
    margin-top: 1%; 
    color: #ffeaea; 
}
h1#CF {
    text-transform: uppercase; 
    font-family: "Trebuchet MS", Optima; 
    text-align: center; 
    margin-top: -6%; 
    color: #ffeaea; 
}

h1:hover {
    filter: grayscale(5%); 
    transform: scale(1.1); 
    transition: transform 1s; 
}


.white-text {
    color: #ffeaea; 
}


p {
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify; 
     
    font-size: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    color: #ffeaea; 
}


p:hover {
    transition: transform 1s; 
	transform: scale(1.01); 
}


.center {
    text-align: center; 
}




.center:hover {
    transition: transform 2s; 
    transform: scale(1.1); 
}


a {
    color: #627ea9; 
}


q {
    font-style: italic; 
}


img {
    filter: grayscale(75%); 
    border-radius: 2px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: -800;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    z-index: 1;
    
}
img#footerimg  {
    filter: grayscale(75%); 
    border-radius: 2px;
    max-width: 100%;
    height: 40px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0px;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    z-index: 1;
    display: inline;
    
}






img:hover {
	filter: grayscale(5%); 
    transition: transform 1s; 
	transform: scale(1.1); 
}



footer {
    padding: 2%; 
    background-color: rgba(23, 7, 49, 0.5);
    text-align: center; 
    height: 200px;
}

a#foot{
    text-align: center;
}

@media screen and (max-width: 576px) {
    footer{
        text-align: left;
    }
}
@media screen and (max-width: 576px) {
    a#foot{
        text-align: left;
    }
}


 
/***** END OF GENERAL STYLING *****/

/***** NAVBAR *****/
.Navbar {
    overflow: hidden; 
    background-image: linear-gradient(to right, black, #373775, black ); 
    background-color: black; 
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s; 
    box-shadow: inset 0 0 2px #000000;
}


@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;} 
}


.Navbar a {
    float: left;
    display: block; 
    color: #ffeaea; 
    padding: 14px 16px;
    text-decoration: none; 
    font-family: Avant Garde, Helvetica; 
    font-size: 1.8vw; 
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 5.75s; 
    animation: moveNavText 5.75s; 
}


@keyframes moveNavText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}


@media screen and (max-width: 576px) {
    .Navbar a{
        width: 20%; 
        font-size: 12px;
        
    }
}


.Navbar a:hover {
    background-color: #f4f4f4; 
    color: black; 
    font-weight: bold;
    
}


.Navbar a.active { 
    background-color: #373775;
    box-shadow: inset 0 0 1px #000000;
    
}
/***** END OF NAVBAR *****/

/***** VIDEO *****/

#Coding_Video {
    position: fixed; 
    right: 0;
    bottom: 0; 
    min-width: 100%;
    z-index: -1; 
    box-shadow: inset 0 0 2px #000000;
}


@media screen and (max-width: 576px) {
    #Coding_Video {
        display: none;
    }
}


.Video_Text {
    background: rgba(23, 7, 49, 0.5); 
    color: #ffeaea; 
    width: 100%; 
    padding: 20px; 
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
    box-shadow: inset 0 0 15px #000000;
}


@keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}
/***** END OF VIDEO *****/

/***** TABLES *****/
* {
    box-sizing: border-box;
} 

.Column_1 {
    float: left;
    width: 50%; 
    padding: 10px;
    padding-top: 3%; 
    height: 400px; 
    background: rgba(23, 7, 49, .9);
    box-shadow: inset 0 0 15px #000000;
    z-index: 2;
    overflow: hidden;
    
}
/** this stacks the columns**/
@media screen and (max-width: 975px) {
    .Column_1 {
        width: 100%;
    }
}

.Column_1_1 {
    float: left;
    width: 50%; 
    padding: 10px;
    padding-top: 3%; 
    height: 400px; 
    background: rgba(23, 7, 49, .9);
    box-shadow: inset 0 0 15px #000000;
    z-index: 2;
    overflow: hidden;
    
}


@media screen and (max-width: 975px) {
    .Column_1_1 {
        width: 100%;
        height: 200px;
    }
}

 
@media screen and (max-width: 900px) {
    p#about {
      font-size: 18px;
    }
  }


@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #627ea9;
    background-image: linear-gradient(#627ea9, #816378);
    box-shadow: inset 0 0 7px #373775;
    border-top: 2px solid #ffeaea ;
    border-bottom: 2px solid #ffeaea ;
    border-right: 2px solid #ffeaea ;
    overflow: hidden;
    
}
@media screen and (max-width: 975px) {
    .Column_2_1  {
        width: 100%;
    }
}
.Column_2_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #627ea9;
    background-image: linear-gradient(#627ea9, #816378);
    box-shadow: inset 0 0 7px #373775;
    border-top: 2px solid #ffeaea ;
    border-bottom: 2px solid #ffeaea;
    border-left: 2px solid #ffeaea ;
    overflow: hidden;
    
}
@media screen and (max-width: 975px) {
    .Column_2_2 {
        width: 100%;
    }
}
    


.Column_tall {
    padding-top: 3.5%;
    height: 450px;
    background: rgba(23, 7, 49, .9);
    
}


.Row:after {
	content: "";
	display: table;
	clear: both; 
}
/***** END OF TABLES *****/







/***** CONTACT FORM  *****/

.Contact {
    position: fixed;
    bottom: 5px;
    right: 0;
    z-index: 1;
    -webkit-animation: moveButton 3s; 
    animation: moveButton 3s; 
}
@keyframes moveButton {
    from {right: -100vw;}
    to {right: 0vw;} 
}



input[type=text] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ffeaea; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 4px; 
    margin-bottom: 18px; 
    resize: vertical; 
    font-family: Perpetua, Rockwell Extra Bold;
    font-size: 18px;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
}

/* Submit button */
input[type=submit] {
    background-color: #373775; 
    color: #ffeaea; 
    font-weight: bold; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    display: block; 
    margin-left: auto; 
    margin-right: 9%;
    font-family: Perpetua, Rockwell Extra Bold;
}


input[type=submit]:hover {
    background-color: #ffeaea; 
    color: #373775; 
    transform: scale(1.1); 
    transition: transform 1.5s; 
}




/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
background-color: #373775; 
  color: #ffeaea; 
  font-weight: bold; 
  padding: 20px 60px; 
  border: none; 
  border-radius: 10px 100px / 120px;
  cursor: pointer; 
  bottom: -10px;
  width: 250px; 
  margin-right: -20px;
  
}






.open-button:hover {
    background-color: #ffeaea; 
    color: #373775; 
    transform: scale(1.2); 
    transition: transform 1.5s; 
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  bottom: 5px;
  right: auto;
  border-radius: 5px; 
  background-color: rgba(255, 228, 236);
  background-image: linear-gradient(#627ea9, #816378);
  padding: 14px; 
  font-family: "Trebuchet MS", Optima;
  margin-top: -56px;
  z-index: 9;
  height: 420px;
  width: 400px;
}



/* Add styles to the form container */
.form-container {
  max-width: auto;
  max-height: 50px;
  
}




/* cancel button */
.form-container .cancel {
    background-color: #373775; 
    color: #ffeaea; 
    font-weight: bold; 
    padding: 12px 80px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    display: block; 
    margin-left: auto; 
    margin-right: 40%;
    margin-top: -39px;
    font-family: Perpetua, Rockwell Extra Bold;
}

@media screen and (min-width: 781px) {
    .form-container .cancel  {
        padding: 12px 80px; 
        margin-right: 40%;
    }
  }
  
 
@media screen and (max-width: 780px) {
    .form-container .cancel  {
        padding: 12px 10px; 
        margin-right: 60%;
    }
  }

.form-container .cancel:hover {
    background-color: #ffeaea; 
    color: #373775; 
    transform: scale(1.1); 
    transition: transform 1.5s; 
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/***** END OF CONTACT FORM *****/






/***** SLIDE SHOW *****/
/* The dots/bullets/indicators */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 604px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffeaea;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px; 
  font-size: 20px;
  padding: 20px; 
  color: #ffeaea;
  text-shadow: 5px 5px 8px #000000;
  background-color: rgb(0, 0, 77, 0.5);
  
   
}
@media screen and (max-width: 975px) {
    .text {
        bottom: -70px;
        background-color: rgb(0, 0, 77, 0);
        font-size: 16px;
    }
}





/* The dots/bullets/indicators */

.centerdots{
    text-align: center;
    position: relative;
    top: 0px;
}
@media screen and (max-width: 975px) {
    .centerdots {
        top: -50px;
    }
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #373775;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/***** END SLIDE SHOW *****/